<div id="header_wrap" class="outer">
    <table width="100%" style="border: hidden">
    <tr>
      <td width="25%" style="border: hidden; min-width: 300px; text-align: center">
        &nbsp;<p />&nbsp;<br/>
        <img id="dosbox-x-logo" src="images/dosbox-x-logo.svg" title="DOSBox-X" alt="DOSBox-X logo" style="width:90px" />
      </td>
      <td>
        &nbsp;<p />
        <h1 id="project_title">DOSBox-X</h1>
        <h2 id="project_tagline">Cross-platform DOS emulation package<br />Complete, accurate emulation and more</h2>
      </td>
    </tr>
    </table>
</div>
