{%- assign vemeta = site.data.latest_version -%}
{%- assign latest_version = vemeta.version -%}
{%- assign latest_version_date = vemeta.date -%}
<td width="20%" style="border: hidden; min-width: 300px">
  <h4>Latest Release: <span style="color: red">{{ vemeta.version }}</span></h4>
  <h4>Release Date: <span style="color: green">{{ vemeta.date }}</span></h4>
  <h4><a href="release-{{ latest_version }}.html">DOSBox-X {{ vemeta.version }} Release Notes</a></h4>
  <h4><a href="release-notes">Previous Release Notes</a></h4>
  <h4>Supported Platforms:</h4>
  <img src="images/windows_logo.png" title="Windows" alt="Windows logo" width="50" height="50" />&nbsp;
  <img src="images/linux_logo.png" title="Linux" alt="Linux logo" width="50" height="50" />&nbsp;
  <img src="images/macos_logo.png" title="macOS" alt="macOS logo" width="50" height="50" />&nbsp;
  <img src="images/msdos_logo.png" title="MS-DOS" alt="MS-DOS logo" width="50" height="50" />
  <h4>Windows version:</h4>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/releases/download/dosbox-x-v0.83.14/dosbox-x-windows-0.83.14-setup.exe">Download installer</a> | <a href="https://github.com/joncampbell123/dosbox-x/releases/download/dosbox-x-v0.83.14/dosbox-x-windows-0.83.14-setup-allusers.exe">Admin mode installer</a></h5>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/blob/master/INSTALL.md#windows-packages-installer-or-portable">More options including portable packages</a></h5>
  <h4>Linux version:</h4>
  <h5><a href="https://flathub.org/apps/details/com.dosbox_x.DOSBox-X">Flatpak on Flathub</a> | <a href="https://github.com/rderooy/dosbox-x-rpm/raw/master/dosbox-x-0.83.14-1.fc34.x86_64.rpm">RPM package</a></h5>
  <h4>macOS version:</h4>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/releases/download/dosbox-x-v0.83.14/dosbox-x-macosx-x86_64-20210531184050.zip">Intel-based Mac</a> | <a href="https://github.com/joncampbell123/dosbox-x/releases/download/dosbox-x-v0.83.14/dosbox-x-macosx-arm64-20210531191420.zip">ARM-based Mac</a></h5>
  <h4>DOS version:</h4>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/releases/download/dosbox-x-v0.83.14/dosbox-x-mingw-hx-dos-20210601013916.zip">HX-DOS package</a> | <a href="https://github.com/joncampbell123/dosbox-x/releases/download/dosbox-x-v0.83.14/dosbox-x-dos-0.83.14-loadlin.zip">LOADLIN package</a></h5>
  <h4>Source code:</h4>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/archive/refs/tags/dosbox-x-v0.83.14.zip">In zip format</a> | <a href="https://github.com/joncampbell123/dosbox-x/archive/refs/tags/dosbox-x-v0.83.14.tar.gz">In tar.gz format</a></h5>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/blob/master/BUILD.md">Source code building instructions</a></h5>
  <h4>Further options and information:</h4>
  <h5><a target="_blank" href="https://github.com/joncampbell123/dosbox-x/blob/master/INSTALL.md">Other packages and install instructions</a></h5>
  <h5><a target="_blank" href="https://github.com/joncampbell123/dosbox-x/releases">Archive of all releases and change logs</a></h5>
  <h4>Issue, question or suggestion?</h4>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/issues">Go to Issue Tracker</a></h5>
  <h5><a href="https://github.com/joncampbell123/dosbox-x/pulls">View or send Pull Requests</a></h5>
</td>
