<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="DOSBox-X: Free, cross-platform and complete DOS, Windows 3.x and 9x emulation package">

    <!-- FIXME: Handle relative urls thru basepath. noisynotepad is a good ref -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script type="text/javascript" src="js/script.js"></script>
    
    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <table width="100%" style="border: hidden">
        <tr>
        <td width="25%" style="border: hidden; min-width: 300px; text-align: center">
          &nbsp;<p />&nbsp;<br/>
          <img id="dosbox-x-logo" src="images/dosbox-x-logo.svg" title="DOSBox-X" alt="DOSBox-X logo" style="width:90px" />
        </td><td>&nbsp;<p />
          <h1 id="project_title">DOSBox-X</h1>
          <h2 id="project_tagline">Cross-platform DOS emulation package<br />Complete, accurate emulation and more</h2>
        </td>
        </tr>
        </table>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer"; style="background-color: #fafacf">
        <!-- <div style="text-align: center">
            <h3 style="padding-top: 10px">What is DOSBox-X?</h3>
            <h4 id="intro">DOSBox-X is an open-source DOS emulator for running DOS games and applications.<br />DOS-based Windows such as Windows 3.x and Windows 9x are officially supported.<br />Compared to DOSBox, DOSBox-X is much more flexible and <a href="wiki/DOSBox%E2%80%90X%E2%80%99s-Feature-Highlights" target="_blank">provides more features</a>.<br/>Look at the <a href="wiki">DOSBox-X Wiki</a> for more information about DOSBox-X and usage guides.<br/>We also hope that DOSBox-X (along with DOSLIB) can <a href="newdosdevelopment.html">aid in new DOS development</a>.</h4>
        </div>
        <hr style="border-bottom: 1px solid #8c8b8b" /> TODO: Move into index.html -->
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}

  </body>
</html>
