<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="DOSBox-X: Free, cross-platform and complete DOS, Windows 3.x and 9x emulation package">

    <!-- FIXME: Handle relative urls thru basepath. noisynotepad is a good ref -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    
    <link rel="shortcut icon" href="images/dosbox-x.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/dosbox-x.ico">
    <link rel="icon" type="image/x-icon" href="images/dosbox-x.ico">
    <link rel="icon" href="images/dosbox-x.ico">
    <link rel="icon" type="image/bmp" href="images/dosbox-x.bmp">
    <link rel="icon" type="image/x-bmp" href="images/dosbox-x.bmp">
    <link rel="icon" type="image/x-icns" href="images/DosBox.icns">
    <link rel="icon" type="image/png" href="images/dosbox-x.png">
    <link rel="icon" type="image/svg+xml" href="images/dosbox-x-logo.svg">
    
    {%- unless page.override_title or layout.override_title -%}
    
    <title>{{ page.title }}</title>{%- endunless %}
  </head>

  <body>

    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" style="background-color: #fafacf">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}

  </body>
</html>
