---
layout: default
title: DOSBox-X [[_PVERSION_]] Release Notes
---

{% include nav.liquid %}
<div style="text-align: center">
    <h3 style="padding-top: 10px">DOSBox-X {{ page.version }} Release Notes</h3>
    <h4 style="padding-bottom: 15px; font-weight: normal">Release Date: <span style="color: green">{{ page.date }}</span></h4>
    {%- if site.data.version_lst.latest.version == page.version -%}
    <p>Please report any issues in our <a href="https://github.com/joncampbell123/dosbox-x/issues">issue tracker</a>.</p>
    <p>Also, make sure to check out our <a href="wiki">wiki</a>.</p>
    {%- endif -%}
    <h4>New in This Version</h4>

    <table width="100%" style="border: hidden">
      <tr>
      <td width="20%" style="border: hidden"></td>
      <td width="60%" style="border: hidden; text-align: left">
        {{ content }}
      </td>
      <td></td>
      </tr>

      <tr>
        <td></td>
        <td style="border: hidden">
          <table width="100%" style="text-align: center; font-weight: bold">
            <tr>
              <td width="25%">
                Previous release: {% if show_last == true %}{{ last }} <a href="release-{{ last }}.html">(release notes)</a>{% else %}{{ site.data.version_lst.last }}{% endif %}
              </td>
              <td width="50%">
                Latest release: {{ site.data.version_lst.latest.version }} {% if site.data.version_lst.latest.version == page.version %}(release notes){% else %}<a href="release-{{ site.data.version_lst.latest.version }}.html">(release notes)</a>{% endif %}
              </td>
              <td width="25%">
                Next release: {% if show_next == true %}{{ next }} <a href="release-{{ next }}.html">(release notes)</a>{% else %}trunk <a href="https://github.com/joncampbell123/dosbox-x/blob/master/CHANGELOG#L1">(changelog on branch <code>master</code>)</a>{% endif %}
              </td>
            </tr>
          </table>
        </td>
        <td style="border: hidden"></td>
      </tr>
      
      <tr>
        <td style="border: hidden"></td>
        <td style="border: hidden">
          <center>Return to <a href="release-notes">release notes index</a></center>
        </td>
        <td style="border: hidden"></td>
      </tr>
      <p/>
      <tr>
        <td style="border: hidden"></td>
        <td style="border: hidden">
          <center>Return to <a href="index.html">main page</a></center>
        </td>
        <td style="border: hidden"></td>
      </tr>
    </table>
</div>
