---
title: DOSBox-X {{ page.version }} Release Notes
layout: default
---

{% comment %}
REQUIRED in page namespace: version date
hacky nav code
{% endcomment %}
{% assign cur_position = -1 %}
{% for version in site.data.version_lst.versions %}
  {% if version == page.version %}
    {% assign cur_position = forloop.index0 %}
    FOUND pos {{ cur_position }}<br />
    {% break %} 
  {% endif %}
{% endfor %}
{% if cur_position != -1 %}
  {% assign total = site.data.version_lst.size %}
  {% decrement total %}
  {{ total }}<br />
  {% unless cur_position < 1 %}
    {% assign show_last = true %}
    {% decrement cur_position %}
    {% assign last = site.data.version_lst[cur_position] %}
    {% increment cur_position %}
    FOUND last {{ last }}<br />
  {% else %}
    {% assign show_last = false %}
  {% endunless %}                     
  {% unless cur_position >= total %}
    {% assign show_next = true %}
    {% increment cur_position %}
    {% assign next = site.data.version_lst[cur_position + 1] %}
    {% decrement cur_position %}
    FOUND next {{ next }}<br />
  {% else %}
    {% assign show_next = false %}
  {% endunless %}
{% else %}
  {% assign show_last = false %}
  {% assign last = "" %}
  {% assign show_next = false %}
  {% assign next = "" %}
  The entry for this version is not found. Please tell the admin.
{% endif %}

<div style="text-align: center">
    <h3 style="padding-top: 10px">DOSBox-X {{ page.version }} Release Notes</h3>
    <h4 style="padding-bottom: 15px; font-weight: normal">Release Date: <span style="color: green">{{ page.date }}</span></h4>
    <p>
      {% if site.data.version_lst.latest.version != page.version %}
      It is strongly recommended to use the latest version instead:
      <a href="release-{{ site.data.version_lst.latest.version }}.html">DOSBox-X {{ site.data.version_lst.latest.version }} Release Notes</a> 
      {% else %}
      Please report any issues in our <a href="https://github.com/joncampbell123/dosbox-x/issues">issue tracker</a>.
      {% endif %}
    </p>
    <p>Also, make sure to check out our <a href="wiki">wiki</a>.</p>
    <h4>New in This Version</h4>

    <table width="100%" style="border: hidden">
      <tr>
      <td width="20%" style="border: hidden"></td>
      <td width="60%" style="border: hidden; text-align: left">
        {{ content }}
      </td>
      <td></td>
      </tr>

      <tr>
        <td></td>
        <td style="border: hidden">
          <table width="100%" style="text-align: center; font-weight: bold">
            <tr>
              <td width="50%">
                Previous release:
                {% if show_last == true %}
                <a href="release-{{ last }}.html">{{ last }}</a>
                {% else %}
                {{ site.data.version_lst.last }}
                {% endif %}
              </td>
              <td width="50%">
                Next release:
                {% if show_next == true %}
                <a href="release-{{ next }}.html">{{ next }}</a>
                {% endif %}
              </td>
            </tr>
          </table>
        </td>
        <td style="border: hidden"></td>
        </tr>
      
      <tr>
        <td style="border: hidden"></td>
        <td style="border: hidden">
          <center>Return to <a href="release-notes">release notes index</a></center>
        </td>
        <td style="border: hidden"></td>
      </tr>
    </table>
</div>
