name: Build for macOS

on:
  push:
  pull_request:
  release:
    types: [published]

# TODO NTS plan currectly is:
#   [x86_64]  [arm64]  [universal]
#       \       X       X
#        \      |      /
#         [build bundle]
#               |
#         [tar & upload]
#      (maybe create a dmg)
# xref: https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary
#       https://github.com/dosbox-staging/dosbox-staging/blob/master/.github/workflows/macos.yml
#       https://github.com/create-dmg/create-dmg (brew install create-dmg)
#       old versions of this file
# remember to touch other workflows

jobs:

  build:
    name: Build
    
    # TODO: get to use 11 so we can compile for arm64
    # https://github.com/actions/virtual-environments/blob/main/docs/macos-11-onboarding.md
    runs-on: macos-latest
    strategy:
      matrix:
        variant: ["", "-sdl2"]
        #arch: [x86_64, arm64, universal]
    steps:
    
      - name: Checkout repo
        uses: actions/checkout@v2
        
      - name: Prepare brew caches
        id: prep-caches
        shell: bash
        run: |
          set -eu
          BREW_DIR="$(brew --cache)"
          DISCARD_DIR="${{ github.workspace }}/discard"
          mkdir -p "$DISCARD_DIR"
          mv -f "$BREW_DIR"/* "$DISCARD_DIR"
          echo "::set-output name=brew_dir::$BREW_DIR"
          echo "::set-output name=today::$(date +%F)"
      - uses:  actions/cache@v2
        with:
          path: ${{ steps.prep-caches.outputs.brew_dir }}
          key:  brew-cache-${{ steps.prep-caches.outputs.today }}
          restore-keys: brew-cache-
      - name: Install dependencies
        run: brew install autoconf automake libtool ncurses nasm freetype fluid-synth libslirp pkg-config
        
      - name: Build
        env:
          RUN_NSUFF: ${{ matrix.variant }}
        run: |
          chmod +x build-macosx$RUN_NSUFF
          ./build-macosx$RUN_NSUFF
          
      # also tar it to keep permissions
      - name: Make app bundle
        run: |
          make dosbox-x.app
          tar -czf dosbox-x.app.tar.gz dosbox-x.app
      
      - name: Upload app bundle as a artifact
        uses: actions/upload-artifact@v2
        with:
          name: macos-x86_64${{ matrix.variant }}
          path: dosbox-x.app.tar.gz
      - name: Upload app bundle to invoking Release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: dosbox-x.app.tar.gz
          asset_name: dosbox-x-macosx-x86_64.tar.gz
          asset_content_type: application/gzip
