name: Build for macOS

on:
  push:
  pull_request:
#  release:
#    types: [published]

# TODO NTS plan:
#   [x86_64]  [arm64]  [universal]
#       \       |       /
#        \      |      /
#         [build bundle]
#               |
#         [tar & upload] - [run thru release?]
#                                   |
#                  [create dmg & upload to release]
# xref: https://developer.apple.com/documentation/apple-silicon/building-a-universal-macos-binary
#       https://github.com/dosbox-staging/dosbox-staging/blob/master/.github/workflows/macos.yml
#       https://github.com/create-dmg/create-dmg (brew install create-dmg)
# remember to touch other workflows

env:
  # see https://github.com/actions/virtual-environments/issues/3522
  # REMOVE THIS LINE when the change done
  DEVELOPER_DIR: /Applications/Xcode_12.5.app

jobs:
  build:
    name: Build
    
    # use big sur. latest is still catalina
    runs-on: macos-11
    strategy:
      matrix:
        variant: ["", "-sdl2"]
        arch: [x86_64, arm64, universal]
       
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install dependencies
        run: brew install autoconf automake libtool ncurses nasm freetype fluid-synth libslirp pkg-config
      - name: Build
        if: matrix.arch != 'universal'
        env:
          RUN_NSUFF: ${{ matrix.variant }}
          TARGET_ARCH: ${{ matrix.arch }}
        run: |
          x=x86_64-apple-macos10.12
          if [ $TARGET_ARCH = "arm64" ]; then
            x="arm64-apple-macos11"
          fi
          CFLAGS+=" -target $x"
          CXXFLAGS+=" -target $x"
          chmod +x build-macosx$RUN_NSUFF
          ./build-macosx$RUN_NSUFF
      - name: Build (universal)
        if: matrix.arch == 'universal'
        env:
          RUN_NSUFF: ${{ matrix.variant }}
        run: |
          OCFL=$CFLAGS
          OCXFL=$CXXFLAGS
          chmod +x build-macosx$RUN_NSUFF
          CFLAGS+=" -target x86_64-apple-macos10.12"
          CXXFLAGS+=" -target x86_64-apple-macos10.12"
          ./build-macosx$RUN_NSUFF
          CFLAGS=$OCFL
          CXXFLAGS=$OCXFL
          cp src/dosbox-x src/dosbox-x-1
          CFLAGS+=" -target arm64-apple-macos11"
          CXXFLAGS+=" -target arm64-apple-macos11"
          ./build-macosx$RUN_NSUFF
          cp src/dosbox-x src/dosbox-x-2
          lipo -create -output src/dosbox-x src/dosbox-x-1 src/dosbox-x-2
      # tar it to keep permissions
      - name: Make app bundle
        run: |
          make dosbox-x.app
          tar -czf dosbox-x.app.tar.gz dosbox-x.app
      # DON'T UPLOAD TO RELEASES, we're going to make dmgs instead
      - name: Upload app bundle
        uses: actions/upload-artifact@v2
        with:
          name: macos-${{ matrix.arch }}${{ matrix.variant }}
          path: dosbox-x.app.tar.gz
