name: Build for Windows & HX-DOS Extender
on:
  push:
  pull_request:
  release:
    types: [published]

jobs:
  vsbuild:
    name: Build with Visual Studio
    runs-on: windows-latest # with Visual Studio 2019

    strategy:
      matrix:
        arch: [Win32, x64, ARM, ARM64]
        type: [Release, "Release SDL2"]

    steps:
      - uses: actions/checkout@v2
        name: Checkout repo
        
      - run: perl update-build-timestamp.pl
        name: Update build timestamp
        
      - uses: microsoft/setup-msbuild@c26a08ba26249b81327e26f6ef381897b6a8754d # 1.0.2
        name: Init MSBuild
        
      # FIXME: this does not work as excepted. probs solution quirk
      - name: Cache IPDBs
        uses: actions/cache@v2
        with:
          key: vs-${{ matrix.arch }}-${{ matrix.type }}-index
          path: |
            bin/${{ matrix.arch }}/${{ matrix.type }}/*.exp
            bin/${{ matrix.arch }}/${{ matrix.type }}/*.lib
            bin/${{ matrix.arch }}/${{ matrix.type }}/*.pdb
            vs2015/obj/**/${{ matrix.arch }}/Release/**/*.exp
            vs2015/obj/**/${{ matrix.arch }}/Release/**/*.lib
            vs2015/obj/**/${{ matrix.arch }}/Release/**/*.pdb
            
      - name: Build
        working-directory: vs2015
        env:
          GH_BUILD_TYPE: ${{ matrix.type }}
          GH_BUILD_ARCH: ${{ matrix.arch }}
        run: |
          msbuild dosbox-x.sln /p:Configuration=$env:GH_BUILD_TYPE /p:Platform=$env:GH_BUILD_ARCH
          cd "../bin/${{ matrix.arch }}/${{ matrix.type }}"
          
      - name: Internally decide artifact name
        id: zipname
        env:
          GH_BUILD_TYPE: ${{ matrix.type }}
          GH_BUILD_ARCH: ${{ matrix.arch }}
        run: |
          $zipname = $env:GH_BUILD_ARCH.ToLower()
          if ( $env:GH_BUILD_TYPE -eq "Release SDL2" )
          {
            $zipname = "$zipname-sdl2"
          }
          Write-Host "::set-output name=zipname-sub::$zipname"
          $zip = "dosbox-x-windows-vs-$zipname.zip"
          Write-Host "::set-output name=zipname::$zip"
      - name: Upload build as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: vs-${{ steps.zipname.outputs.zipname-sub }}
          path: |
            bin/${{ matrix.arch }}/${{ matrix.type }}
            !bin/${{ matrix.arch }}/${{ matrix.type }}/*.exp
            !bin/${{ matrix.arch }}/${{ matrix.type }}/*.lib
            !bin/${{ matrix.arch }}/${{ matrix.type }}/*.pdb
            
      - name: Generate zip if invoked by a Release
        if: github.event_name == 'release'
        run: |
          ./vs2015/tool/zip.exe -r -9 build.zip "bin/${{ matrix.arch }}/${{ matrix.type }}" -x "*/\.exp" -x "*/\.lib" -x "*/\.pdb"
      - name: Upload build to invoking Release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: ./build.zip
          asset_name: ${{ steps.zipname.outputs.zipname }}
          asset_content_type: application/zip
          
  mingw:
    name: Build with MSYS2
    runs-on: windows-latest
    
    strategy:
      matrix:
        arch: [32, 64]
        type: ["", -sdl2, -lowend, -sdldraw]
      fail-fast: false
      
    defaults:
      run:
        shell: msys2 {0}
    env:
      # Which revision of ffmpeg (read: a git ref)
      # to build for the workaround
      # see ffmpeg git repo
      ffmpeg-release: release/4.4
      ffmpeg-ref-type: refs/heads/
      
    steps:
      - name: Define temporary MSYSTEM_CARCH-ish variable
        shell: powershell
        id: carch
        env:
          TMP_ARCH: ${{ matrix.arch }}
        run: |
          $cur = "i686"
          if ( $env:TMP_ARCH -eq "64" )
          {
            $cur = "x86_64"
          }
          echo "::set-output name=carch::$cur"
      - uses: msys2/setup-msys2@v2
        name: Setup MSYS2
        with:
          MSYSTEM: MINGW${{ matrix.arch }}
          release: true
          update: true
          install: >-
            base-devel
            git
            mingw-w64-${{ steps.carch.outputs.carch }}-toolchain
            mingw-w64-${{ steps.carch.outputs.carch }}-libpng
            mingw-w64-${{ steps.carch.outputs.carch }}-fluidsynth
            mingw-w64-${{ steps.carch.outputs.carch }}-ncurses
            mingw-w64-${{ steps.carch.outputs.carch }}-SDL_net
            mingw-w64-${{ steps.carch.outputs.carch }}-libslirp
            mingw-w64-${{ steps.carch.outputs.carch }}-freetype
            yasm
      # MSYS2 is installed, use internal variable
      - name: Install SDL2
        if: matrix.type == '-sdl2'
        run: pacman --noconfirm --needed -S mingw-w64-$MSYSTEM_CARCH-SDL2 mingw-w64-$MSYSTEM_CARCH-SDL2_net
  
      - uses: actions/checkout@v2
        name: Checkout repo # fix
        
      # NTS: msys2's ffmpeg package is currently broken (by a lot!)
      - name: Cache ffmpeg
        id: cache-ffmpeg
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}\ffmpeg
          key: mingw-lib-ffmpeg-${{ env.ffmpeg-release }}${{ matrix.type }}-${{ matrix.arch }}
      - name: Clone ffmpeg
        if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: FFmpeg/FFmpeg
          submodules: recursive
          ref: ${{ env.ffmpeg-release }}
          path: ffmpeg
      - name: Patch ffmpeg
        if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
        working-directory: ${{ github.workspace }}\ffmpeg
        run: |
          git config core.fileMode true
          git reset --hard ${{ env.ffmpeg-ref-type }}${{ env.ffmpeg-release }}
          # NTS: update when vcpkg updates ffmpeg
          pfiles="0001-create-lib-libraries.patch 0003-fix-windowsinclude.patch 0004-fix-debug-build.patch 0006-fix-StaticFeatures.patch 0007-fix-lib-naming.patch 0009-Fix-fdk-detection.patch 0010-Fix-x264-detection.patch 0011-Fix-x265-detection.patch 0012-Fix-ssl-110-detection.patch 0013-define-WINVER.patch 0014-avfilter-dependency-fix.patch 0015-Fix-xml2-detection.patch 0016-configure-dnn-needs-avformat.patch"
          for file in $pfiles
          do
            echo "Downloading patch $file"
            wget -q "https://raw.githubusercontent.com/microsoft/vcpkg/c4fedf081dcd0931e2aaab5ab1afa21e31a94e6d/ports/ffmpeg/$file"
            echo "Patching"
            git apply $file
          done
      - name: Build ffmpeg
        if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
        working-directory: ${{ github.workspace }}\ffmpeg
        run: |
          CFLAGS+=" -DWIN32"
          CXXFLAGS+=" -DWIN32"
          ./configure --disable-sdl2 --disable-network --enable-small --target-os=mingw${{ matrix.arch }} --arch=$MSYSTEM_CARCH --enable-gpl --enable-version3 --disable-debug --enable-pic --prefix=/mingw${{ matrix.arch }} --disable-programs --enable-static --enable-shared --enable-runtime-cpudetect --disable-doc
          make -j
      - name: Install ffmpeg
        working-directory: ${{ github.workspace }}\ffmpeg
        run: |
          make install
          mv /mingw${{ matrix.arch }}/bin/*.lib /mingw${{ matrix.arch }}/lib/
          PREFIX_DEPS=`cygpath -am /mingw${{ matrix.arch }}`
          find /mingw${{ matrix.arch }}/lib/pkgconfig -name *.pc -exec sed -i -e"s|${PREFIX_DEPS}|/mingw${{ matrix.arch }}|g" {} \;
        
      - run: perl update-build-timestamp.pl
        name: Update build timestamp
      - name: Build using script
        env:
          EXE_FILE: build-mingw${{ matrix.type }}
        run: |
          chmod +x $EXE_FILE
          ./$EXE_FILE
          
      - name: Pack zip
        run: |
          strip src/dosbox-x.exe
          mkdir -p _build
          cp src/dosbox-x.exe _build/dosbox-x.exe
          cp CHANGELOG _build/CHANGELOG.txt
          cp dosbox-x.reference.conf _build/dosbox-x.reference.conf
          cp dosbox-x.reference.full.conf _build/dosbox-x.reference.full.conf
          
      - name: Upload build as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: mingw-win${{ matrix.arch }}${{ matrix.type }}
          path: _build
          
      - name: Generate zip if invoked by a Release
        if: github.event_name == 'release'
        run: |
          ./vs2015/tool/zip.exe -r -9 build.zip _build
      - name: Upload build to invoking Release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: ./build.zip
          asset_name: dosbox-x-mingw-win${{ matrix.arch }}${{ matrix.type }}.zip
          asset_content_type: application/zip
          
  installer: # (Wengier)
    name: Build Inno Setup installer
    runs-on: windows-latest

    needs: [vsbuild, mingw] # sources
    
    env:
      SETUP_DIR: ${{ github.workspace }}\contrib\windows\installer
      ROOT_DIRECTORY: ${{ github.workspace }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download builds
        uses: actions/download-artifact@v2
        
      - name: Prepare directories (mkdir)
        working-directory: ${{ env.SETUP_DIR }}
        run: |
          mkdir Win32_builds
          mkdir Win64_builds
      - name: Prepare directories (VS)
        working-directory: ${{ env.SETUP_DIR }}
        run: |
          $orig_prefix = "$env:ROOT_DIRECTORY\vs-"
          $dest_prefix = "$env:SETUP_DIR\"
          $arch = @("win32","x64","arm","arm64")
          $arch_conv = @("Win32_builds\x86_Release","Win64_builds\x64_Release","Win32_builds\ARM_Release","Win64_builds\ARM64_Release")
          $sub = @("","-sdl2")
          $sub_conv = @("","_SDL2")
          for ($arch_i = 0; $arch_i -lt $arch.count; $arch_i++)
          {
            $orig = $orig_prefix + $arch[$arch_i]
            $dest = $dest_prefix + $arch_conv[$arch_i]
            $_orig = $orig
            $_dest = $dest
            for ($sub_i = 0; $sub_i -lt $sub.count; $sub_i++)
            {
              $orig = $_orig + $sub[$sub_i]
              $dest = $_dest + $sub_conv[$sub_i]
              Write-Host "$orig -> $dest"
              mkdir -Force $dest
              $copy_what = @("dosbox-x.exe", "dosbox-x.reference.conf", "dosbox-x.reference.full.conf")
              foreach ($file in $copy_what)
              {
                copy "$orig\$file" "$dest\$file"
              }
              ./unix2dos.exe $dest\dosbox-x.reference.conf
              ./unix2dos.exe $dest\dosbox-x.reference.full.conf
              if (($arch[$arch_i] -eq "win32") -or ($arch[$arch_i] -eq "x64"))
              {
                ./PatchPE.exe $dest\dosbox-x.exe
              }
            }
          }
      - name: Prepare directories (MinGW)
        working-directory: ${{ env.SETUP_DIR }}
        run: |
          $orig_prefix = "$env:ROOT_DIRECTORY\mingw-"
          $dest_prefix = "$env:SETUP_DIR\"
          $arch = @("win32","win64")
          $arch_conv = @("Win32_builds\mingw","Win64_builds\mingw")
          $sub = @("","-lowend","-sdldraw","-sdl2")
          for ($arch_i = 0; $arch_i -lt $arch.count; $arch_i++)
          {
            $orig = $orig_prefix + $arch[$arch_i]
            $dest = $dest_prefix + $arch_conv[$arch_i]
            $_orig = $orig
            $_dest = $dest
            for ($sub_i = 0; $sub_i -lt $sub.count; $sub_i++)
            {
              $orig = $_orig + $sub[$sub_i]
              $dest = $_dest + $sub[$sub_i]
              Write-Host "$orig -> $dest"
              mkdir -Force $dest
              $copy_what = @("dosbox-x.exe", "dosbox-x.reference.conf", "dosbox-x.reference.full.conf")
              foreach ($file in $copy_what)
              {
                copy "$orig\$file" "$dest\$file"
              }
              ./unix2dos.exe $dest\dosbox-x.reference.conf
              ./unix2dos.exe $dest\dosbox-x.reference.full.conf
            }
          }
      - name: Copy configs
        working-directory: ${{ env.SETUP_DIR }}
        run: |
          copy $env:ROOT_DIRECTORY\dosbox-x.reference.conf dosbox-x.reference.conf
          copy $env:ROOT_DIRECTORY\dosbox-x.reference.full.conf dosbox-x.reference.full.conf
          ./unix2dos.exe dosbox-x.reference.conf
          ./unix2dos.exe dosbox-x.reference.full.conf

      - name: Build installer
        working-directory: ${{ env.SETUP_DIR }}
        run: |
          ./ISCC.exe /F"dosbox-x-windows-setup" DOSBox-X-setup.iss
          ./allusers/ISCC.exe /F"dosbox-x-windows-setup-allusers" allusers/DOSBox-X-setup.iss
        
      - name: Upload installer as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: setup
          path: ${{ env.SETUP_DIR }}\dosbox-x-windows-setup.exe
      - name: Upload Vista-only installer as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: setup
          path: ${{ env.SETUP_DIR }}\dosbox-x-windows-setup-allusers.exe

      - name: Upload setup to invoking Release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: ${{ env.SETUP_DIR }}\dosbox-x-windows-setup.exe
          asset_name: dosbox-x-windows-setup.exe
          asset_content_type: application/octet-stream
      - name: Upload Vista-only setup to invoking Release
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: ${{ env.SETUP_DIR }}\dosbox-x-windows-setup-allusers.exe
          asset_name: dosbox-x-windows-setup-allusers.exe
          asset_content_type: application/octet-stream
