name: Build for Windows (or HX-DOS Extender)
on: [push, pull_request] # TODO: release [released, prereleased]

jobs:
  vsbuild:
    name: Build using Visual Studio
    runs-on: windows-latest # this image currently has VS2019, but may change in any time
    if: false # debug

    strategy:
      matrix:
        arch: [Win32, x64, ARM, ARM64]
        type: [Release, "Release SDL2"]

    steps:
      - uses: actions/checkout@v2
        name: Checkout repo
      - run: perl update-build-timestamp.pl
        name: Update build timestamp
      - uses: microsoft/setup-msbuild@c26a08ba26249b81327e26f6ef381897b6a8754d # commithash because 1.0.2
      - name: Build
        working-directory: vs2015
        env:
          GH_BUILD_TYPE: ${{ matrix.type }}
          GH_BUILD_ARCH: ${{ matrix.arch }}
        run: |
          msbuild dosbox-x.sln /p:Configuration=$env:GH_BUILD_TYPE /p:Platform=$env:GH_BUILD_ARCH
          cd "../bin/${{ matrix.arch }}/${{ matrix.type }}"
          del dosbox-x.exp
          del dosbox-x.lib
          del dosbox-x.pdb
      - name: Internally decide artifact name
        id: zipname
        env:
          GH_BUILD_TYPE: ${{ matrix.type }}
          GH_BUILD_ARCH: ${{ matrix.arch }}
        run: |
          $zipname = $env:GH_BUILD_ARCH.ToLower()
          if ( $env:GH_BUILD_TYPE -eq "Release SDL2" )
          {
            $zipname = "$zipname-sdl2"
          }
          Write-Host "::set-output name=zipname-sub::$zipname"
          $zip = "dosbox-x-windows-vs-$zipname.zip"
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: vs-${{ steps.zipname.outputs.zipname-sub }}
          path: bin/${{ matrix.arch }}/${{ matrix.type }}
  mingw:
    name: Build with MSYS2
    runs-on: windows-latest
    
    strategy:
      matrix:
        shell: [32, 64]
        type: ["", -sdl2, -lowend, -sdldraw]
      fail-fast: false
      
    defaults:
      run:
        # https://github.com/actions/runner/issues/497
        shell: C:\msys64\usr\bin\env CHERE_INVOKING=1 MSYSTEM=MINGW${{ matrix.shell }} /usr/bin/bash --noprofile --norc -e -o pipefail {0}
    env:
      ZIP_NAME: dosbox-x-mingw-win${{ matrix.shell }}${{ matrix.type }}.zip
      
    steps:
      - uses: actions/checkout@v2
        name: Checkout repo
      # If we were going to using Git Bash...
      # (we use the included msys2 there, see top)
      #- uses: git-for-windows/setup-git-for-windows-sdk@master
      #  name: Download envorinment
      #  with:
      #    flavor: full # full MSYS2 envorinment
      #    architecture: ${{ matrix.arch }}
      #    verbose: false
      - run: perl update-build-timestamp.pl
        name: Update build timestamp
      - name: Build using script
        env:
          EXE_FILE: build-mingw${{ matrix.type }}
        run: |
          echo Hello world
          uname -s
          chmod +x $EXE_FILE
          ./$EXE_FILE
      - name: Pack zip
        run: |
          strip src/dosbox-x.exe
          mkdir -p _build
          cp src/dosbox-x.exe _build/dosbox-x.exe
          cp CHANGELOG _build/CHANGELOG.txt
          cp dosbox-x.reference.conf _build/dosbox-x.reference.conf
          cp dosbox-x.reference.full.conf _build/dosbox-x.reference.full.conf
      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: mingw-win${{ matrix.shell }}${{ matrix.type }}
          path: _build
